body {
    background: rgb(36, 39, 41);
}
.main-header {
  max-width: 1280px;
  min-height: 488px;
  margin: 0 auto;
  background: rgb(65, 69, 73);
  background-image: url("../../images/header-back-g.png");
}
